body {
    margin: 0;
    padding: 0;
    background-color: green;
    user-select: none;
}

.main {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(10% - 10px);
    left: calc(10% - 10px);
    background-color: lightgreen;
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    gap: 10px;
}

#search_bar {
    text-align: center;
    display: block;
    position: relative;
    width: calc(100% - 10px);
    height: calc(150% - 20px);
    background-color: gray;
    color: white;
    cursor: pointer;
    margin: 5px;
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#search_bar:hover {
    background-color: rgb(100, 100, 100);
}

#search_bar:focus {
    background-color: rgb(80, 80, 80);
}

#search_bar::placeholder {
    color: black;
}

.vissza {
    text-align: center;
    position: relative;
    width: calc(5% - 10px);
    height: calc(150% - 30px);
    background-color: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    margin: 5px;
    align-items: center;
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.vissza:hover {
    background-color: rgb(15, 15, 15);
}

h1 {
    color: lightgreen;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 5px;
    height: 100%;
}

.kereso {
    display: flex;
    flex-direction: row;
}

.talalatok {
    background-color: gray;
    height: calc(100% - 20px);
    overflow-y: scroll;
    overflow-x: none;
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    margin: auto;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big_code {
    background-color: rgb(85, 85, 85);
    width: 75%;
    height: 75%;
    position: absolute;
    top: calc(12.5% - 10px);
    left: calc(12.5% - 10px);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.code {
    user-select: text;
    cursor: text;
    background-color: rgb(0, 0, 0);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#search_bar_delete {
    font-weight: 100;
}

.alairas {
    overflow-y: scroll;
    overflow-x: hidden;
}

.gombok {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

.button {
    border: 2px black solid;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

#X {
    background-color: red;
    color: black;
    border-color: red;
}

#X:hover {
    background-color: rgb(180, 0, 0);
    border-color: rgb(180, 0, 0);
}

#copy {
    background-color: green;
    color: white;
    border-color: green;
}

#copy:hover {
    background-color: rgb(0, 58, 0);
    border-color: rgb(0, 58, 0);
}

.big_code h1 {
    color: black;
    height: fit-content;
}

.big_code p {
    color: black;
    height: 100%;
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    background-color: gray;
}

.talalatok::-webkit-scrollbar, .alairas::-webkit-scrollbar {
    background-color: rgb(85, 85, 85);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
}

.talalatok::-webkit-scrollbar-thumb, .alairas::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 104);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
}

.talalatok::-webkit-scrollbar:active, .alairas::-webkit-scrollbar:active {
    background-color: rgb(70, 70, 70);
}

.talalatok::-webkit-scrollbar-thumb:active, .alairas::-webkit-scrollbar-thumb:active {
    background-color: rgb(201, 201, 201);
}

.talalat {
    background-color: rgb(155, 155, 155);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.talalat:hover {
    background-color: rgb(100, 100, 100);
}

.talalat h3, p {
    margin: 0;
    padding: 0;
}

.talalat h3 {
    margin-bottom: 5px;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
*:focus {
    outline: none;
}