body {
    margin: 0;
    padding: 0;
    background-color: gray;
    user-select: none;
}

.main {
    display: block;
    width: calc(80% - 10px);
    height: calc(80% - 10px);
    background-color: darkgray;
    margin: auto;
    text-align: center;
    position: absolute;
    top: calc(10% - 10px);
    left: calc(10% - 10px);
    border: 5px rgba(0, 0, 0, 0) solid;
    border-radius: 20px;
}

.button {
    background-color: red;
    margin: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 5px black solid;
    border-radius: 10px;
    font-weight: bold;
}

#py {
    background-color: green;
    color: lightgreen;
}

#js {
    background-color: rgb(255, 255, 0);
    color: black;
}

#html {
    background-color: rgb(172, 23, 12);
    color: white;
}

h1 {
    padding-bottom: 10px;
}

.buttons {
    justify-content: center;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}